body {
    width:50em;
    font-family: 'IM Fell DW Pica', serif;
    margin-top: 0em;
    padding: 1em;
}

h1 {
    font-size: 175%;
    text-align: left;
    font-family: 'IM Fell DW Pica', serif;
}

