body {
    width:50em;
    font-family: 'IM Fell DW Pica', serif;
    margin: 0 !important;
    padding: 1em !important;
}

h1 {
    font-size: 175%;
    text-align: left;
    font-family: 'IM Fell DW Pica', serif;
}

